// BRAIN cluster (Univ. Greifswald) with Singularity.
//
// If publishDir copies of large .tfrecords files hang on the shared FS, throttle
// concurrent submissions by adding (outside of `process`):
//   executor.queueSize = 8
// or switch to hard links by setting `publishDir mode: 'link'` in genome2tfrecords.nf.
includeConfig 'base.config'

docker.enabled           = false
singularity.enabled      = true
singularity.autoMounts   = true
singularity.envWhitelist = 'CUDA_VISIBLE_DEVICES'

process {
    executor       = 'slurm'
    queue          = 'snowball,pinky,vision'
    cpus           = 20
    memory         = '20 GB'
    time           = '2h'
    clusterOptions = '--get-user-env'

    withLabel: 'gpu' {
        queue            = 'vision'
        clusterOptions   = '--gpus=1 --get-user-env'
        containerOptions = '--nv'
    }
}
