// Local execution, no container. Intended for `nextflow run -stub-run`
// and for tiny end-to-end tests that don't need Tiberius.
includeConfig 'base.config'

docker.enabled      = false
singularity.enabled = false

process {
    executor = 'local'
    cpus     = 1
    memory   = '2 GB'
    time     = '10m'
}
