// Local execution using Singularity. Pulls the Tiberius image on first run.
includeConfig 'base.config'

docker.enabled           = false
singularity.enabled      = true
singularity.autoMounts   = true
singularity.envWhitelist = 'CUDA_VISIBLE_DEVICES'

process {
    executor = 'local'

    withLabel: 'gpu' {
        containerOptions = '--nv'
    }
}
