// nextflow.config

//below parameter can be used for binding directory
//params.singularity_bind = ''

docker.enabled = false

singularity {
  enabled    = true
  autoMounts = true
  withLabel: 'gpu' {
  runOptions = "--nv "// add "--bind ${params.singularity_bind}" for binding a directory
  }
}

process {
  storeDir = { "cache/${task.process}" }
  executor        = 'slurm'  
  queue           = 'snowball,pinky,vision'
  cpus            = 20
  memory          = '20 GB'
  time            = '2h'
  nodes = 1
  clusterOptions  = "--get-user-env"
  withLabel: 'gpu' {
    clusterOptions  = "--gpus=1 --get-user-env"
    queue           = 'vision'
    singularity.envWhitelist = "CUDA_VISIBLE_DEVICES"
  }
}
